@model CVtheque.Web.Models.PersonneVM
@{
    ViewBag.Title = "CV";
}

<script type="text/javascript">

    var personneData = @Html.Raw(Json.Encode(@Model));

</script>

<h1>Mes CV</h1>

<div class="row">

    <div class="col-md-4">

        <div id="AffichageCVs">
            @Html.Action("CVs")
        </div>

        <div id="AffichageCVForm">
            @Html.Action("AddOrEditCV")
        </div>

    </div>

    <div class="col-md-8" style="background-color:deeppink; height : 100vh">

        @Html.Action("CVLayout1")

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}