@model CVtheque.Web.Models.FormationVM

@{
    //ViewBag.Title = "AddOrEditFormation";
    Layout = null;
}


<form action="/Donnees/AddOrEditFormation" data-ajax="true" data-ajax-mode="replace" data-ajax-success="ResetForm1(this);" data-ajax-update="#AffichageFormations" id="form1" method="post" novalidate="novalidate">


    @Html.AntiForgeryToken()

    <span class="action">@Model.FormTitre</span>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 

        <input type="hidden" id="HiddenInput" name="Id" value="@Model.Id" />

        <input type="hidden" name="FormAction" value="@Model.FormAction" />

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="DateDebut"> Date de Debut</label>
                    <div>
                        @Html.EditorFor(model => model.DateDebut, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="DateFin"> Date de fin</label>
                    <div>
                        @Html.EditorFor(model => model.DateFin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Ecole"> Ecole</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ecole, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ecole, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Description"> Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Diplome"> Diplome</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diplome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diplome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>
        </div>

    </div>

</form>

